<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FRAUD ACCOUNT DETECTION IN SOCIAL NETWORK  </title>

  <!-- Custom fonts for this theme -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="../static/css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top" >

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" style="font-style:oblique;color: greenyellow;">FRAUD ACCOUNT DETECTION IN SOCIAL NETWORK </a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
       
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/index.html">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
 <div class="container">
  <center><h3 style="color:whitesmoke"> Bot Detection</h3></center>
  <center>
  <form class="form-inline" step="any" action="/botact" method="post" style="width:100px;">
    <label for="ids">ids:</label>
    <input type="number" step="any" class="form-control" id="ids" placeholder="Enter ids" name="ids">
    <label for="url">url:</label>
    <input type="text" step="any" class="form-control" id="url" placeholder="Enter url" name="url">
     <label for="followers_count">followers_count:</label>
    <input type="number" step="any" class="form-control" id="followers_count" placeholder="Enter followers_count" name="followers_count">
    <label for="number">friends_count:</label>
    <input type="number" step="any" class="form-control" id="friends_count" placeholder="Enter  friends_count" name="friends_count">
     <label for="number">listed_count:</label>
    <input type="number" step="any" class="form-control" id="listed_count" placeholder="Enter listed_count" name="listed_count">
    <label for="number">favourites_count:</label>
    <input type="number" step="any" class="form-control" id="favourites_count" placeholder="Enter favourites_count" name="favourites_count">
    <label for="verified">verified:</label>
    <input type="text" step="any" class="form-control" id="verified" placeholder="Enter verified" name="verified">
    <label for="statuses_count">statuses_count:</label>
    <input type="number" step="any" class="form-control" id="verified" placeholder="Enter statuses_count" name="statuses_count">
    <label for="default_profile">default_profile:</label>
    <input type="text" step="any" class="form-control" id="verified" placeholder="Enter default_profile" name="default_profile">
    <label for="default_profile_image">default_profile_image:</label>
    <input type="text" step="any" class="form-control" id="default_profile_image" placeholder="Enter default_profile_image" name="default_profile_image">
    
    <br><br>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</center>
</div>

 <!-- <center><h1 style="color:orange;">Welocme To {{session['username']}} Home</h1></center> -->
    

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

     

    </div>
  </header>
<br><br>




  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>

</body>

</html>
